/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.demo-full-width {
width: 100%;
}
.margin-top {
margin-top: 15px;
}
.margin-left {
margin-left: 10px;
}

.margin-right {
margin-right: 10px;
}

.radio-label-padding {
padding-right: 10px;
color: grey;
}
.form {
margin-left: 10px;
border: 2px solid lightgray;
width: 600px;
padding-left: 5px;
margin-top: 10px;
}

.mat-form-field {
    margin: 0 10px;
    padding: 2px;
}

.pull-right{
    float:right;
}

.clearfix {
    float: both;
}

table {
    width: 100%;
  }

.template-view{
    margin: 50px 20px;
    padding: 1em;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    -webkit-animation: start 1s ease-out forwards;
    -o-animation: start 1s ease-out forwards;
    animation: start 1s ease-out forwards;
}

.table-container {
    max-height: 300px;
    overflow: auto;
}

.wrapper, .row {
    width: 100%;
    margin: 0 auto;
    clear: both; 
}

.wrapper:after,
.row:after {
    content: "";
    display: table;
    clear: both; 
}

%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.col-lg-0{
    width: 4.165%;    
}

@media (min-width: 576px) { 
    @for $i from 1 through 12 {
 
        .col-xs-#{$i} { 
            width: 100% / 12 * $i;
        }
     
    }
 }

 @media (min-width: 768px) { 
    @for $i from 1 through 12 {
 
        .col-sm-#{$i} { 
            width: 100% / 12 * $i;
        }
     
    }
 }

 @media (min-width: 992px) { 

    @for $i from 1 through 12 {
 
        .col-md-#{$i} { 
            width: 100% / 12 * $i;
        }
     
    }
 }

 @media (min-width: 1200px) {
    @for $i from 1 through 12 {
 
        .col-lg-#{$i} { 
            width: 100% / 12 * $i;
        }
     
    }
 }