<div class="demo-wrapper">
<!--each tile should specify what page type it opens (to determine which animation) and the corresponding page name it should open-->
    <div class="dashboard clearfix">
    <ul class="tiles">
        <div class="col1 clearfix">
        <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page"  routerLink='/sales' >
            <div><img src="assets/img/bag.png" /></div>
            <div><p>Sales</p></div>
        </li>
        <li class="tile tile-big tile tile-2 slideTextUp" data-page-type="s-page" data-page-name ="random-restored-page">
            <div><i class="fa fa-envelope fa-5x" style="padding: 30px;" aria-hidden="true"></i></div>
            <div><p>Notifications</p></div>
        </li>
        <li class="tile tile-big last tile-3 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
            <div><img src="assets/img/items.png" /></div>
            <div><p>Items</p></div>
        </li>
        
        </div>

        <div class="col2 clearfix">
            <li class="tile tile-big last tile-4 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
            <div><img src="assets/img/shopping.png" /></div>
            <div><p>Purchase</p></div>
        </li>
        <li class="tile tile-big tile-5 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
            <div><i class="fas fa-home fa-5x" style="padding: 30px;" aria-hidden="true"></i></div>
            <div ><p>Home</p></div>
            
        </li>
        <li class="tile tile-big tile-6 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
            <div><img src="assets/img/supplier.png" /></div>
            <div><p>Suppliers</p></div>
        </li>
        
        <!--Tiles with a 3D effect should have the following structure:
            1) a container inside the tile with class of .faces
            2) 2 figure elements, one with class .front and the other with class .back-->
        
        
        </div>

        <div class="col3 clearfix">   
        <li class="tile tile-big tile-7 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
            
            <div><img src="assets/img/sale-report.png" /></div>
            <div ><p>Reports</p></div>
            
        </li>
        <li class="tile tile-big last tile-8 slideTextUp" data-page-type="r-page" data-page-name="random-r-page" routerLink='/inventory'>
            <div><img src="assets/img/icon-inventory.png" /></div>
            <div ><p>Inventory</p></div>
        </li>
        <li class="tile tile-big last tile-9 slideTextUp" data-page-type="r-page" data-page-name="random-r-page" routerLink='/customers' >
            <div ><img src="assets/img/customer.png" /></div>
            <div ><p>Customers</p></div>
            
        </li>
        </div>
    </ul>
    </div>
<!--end dashboard-->
</div>