<div class='template-view'>
  <div class='header'>
    <div class='header-title'>
      <h3>Create Sales</h3>
    </div>
    <div class='identifier-no '>
      <h4> <b>INV # 1</b> </h4>
    </div>
    <div class='clearfix'></div>
  </div>
  <div class='sales-container'>
    <div class='customer-container'>
      <app-customer-input></app-customer-input>
    </div>
    <div class='item-container'>
      <app-item-form [itemBuilder]='itemInfo'></app-item-form>
    </div>
  </div>
</div>
<!-- <div class="form">
  <div style="text-align:center">
    <h1>
      Registration Form
    </h1>
  </div>
  <dynamic-form [fields]="regConfig" (submit)="submit($event)">
  </dynamic-form>
  <div class="margin-top">
    {{ form.value | json }}
  </div>
</div> -->